.app-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 25px;
  background-color: #ffffff;
}
.heading {
  font-family: roboto;
  font-size: 40px;
  font-weight: bold;
  color: #1e293b;
}

.greetings-list {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.images-list {
  display: flex;
}
