.greeting-list-item {
  margin-right: 16px;
  margin-bottom: 16px;
}

.greeting {
  font-size: 20px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px #db1c48 solid;
  border-radius: 20px;
  margin-right: 10px;
}

.active {
  background-color: #db1c48;
  color: #ffffff;
}
.in-active {
  color: #db1c48;
  background-color: #ffffff;
}
